###########################################################
# General Setup
###########################################################

### Application Path ###################################################################################################
# Point to your code, will be available at `/var/www`.

APPLICATION=../project_api/

### Use in application to communicate throught docker api
APP_DOCKER_SOCKET_HOST=172.17.0.1

DATA_SAVE_PATH=/home/apprenant/.laradock/data
USER_PNAME=app
USER_PUID=1000
USER_PGID=1000


### Docker compose files ###############################################################################################
# Select which docker-compose files to include.
# If using docker-sync. Set the value to: docker-compose.yml:docker-compose.dev.yml:docker-compose.sync.yml
# Change the separator from : to ; on Windows

COMPOSE_PATH_SEPARATOR=:
COMPOSE_FILE=docker-compose.yml:docker-compose.dev.yml

### Docker Host IP #####################################################################################################
# Enter your Docker Host IP (will be appended to /etc/hosts). Default is `10.0.75.1`
DOCKER_HOST_IP=10.0.75.1

### NGINX ##############################################################################################################

NGINX_HOST_HTTP_PORT=8888
NGINX_HOST_HTTPS_PORT=4443
NGINX_HOST_LOG_PATH=./logs/nginx/
NGINX_SITES_PATH=./nginx/sites/
NGINX_PHP_UPSTREAM_CONTAINER=php-fpm
NGINX_PHP_UPSTREAM_PORT=9000

### MYSQL ##############################################################################################################
MYSQL_DATABASE=homestead
MYSQL_ROOT_PASSWORD=root
MYSQL_ENTRYPOINT_INITDB=./mysql/docker-entrypoint-initdb.d

### RABBITMQ ###########################################################################################################

RABBITMQ_NODE_HOST_PORT=5672
RABBITMQ_MANAGEMENT_HTTP_HOST_PORT=15672
RABBITMQ_MANAGEMENT_HTTPS_HOST_PORT=15671
RABBITMQ_DEFAULT_USER=guest
RABBITMQ_DEFAULT_PASS=guest

### PHP MY ADMIN #######################################################################################################

# Accepted values: mariadb - mysql

PMA_DB_ENGINE=mysql

# Credentials/Port:

PMA_USER=default
PMA_PASSWORD=secret
PMA_ROOT_PASSWORD=secret
PMA_PORT=8088

### MAILDEV ############################################################################################################

MAILDEV_HTTP_PORT=1080
MAILDEV_SMTP_PORT=25

########################################################################################################################
