.panel-body.no-padding{
    padding: 0;
}

.panel-body.no-padding table{
    margin-bottom: 0;
}

.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th{
    vertical-align: middle;
}
#modal-logs .modal-body{
    font-size: 12px;
    background-color: #333;
    color: #f1efef;
    margin: 6px;
    border-radius: 3px;
}